*{
  text-align: center;
}

.headerElement{
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(135, 151, 163);
}

.FormControlsCss{
  border: 2px lightgrey solid;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 0px;
  width: 85%;
  margin: auto;
}

.FormControlsCss Select{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin-top: 200px;
  padding-top: 200px
}

.btable {
  max-width: 700px;
}

.tableHeadFont {
  font-weight: bold !important;
  background-color: rgb(100, 170, 237);
  border-bottom: 2px solid rgb(0, 0, 0);
}